input {
    border: 1px solid black;
    margin-right: 1em;
    object-fit: none;
}

/* #insertLabel {
    object-position: 50%;
}
#insert {
    object-position: 50%;
}
#insertButton {
    object-position: 50%;
} */