<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Pottery Inventory Home</title>
</head>

<body>
  <p-tabView>
    <p-tabPanel header="Retrieve data">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><p-radioButton value="Item_ID" [(ngModel)]="selectedValue"></p-radioButton></span>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Item ID" id="ItemID" name="ItemID" #ItemID1/>
      </div><br><br>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><p-radioButton value="Color" [(ngModel)]="selectedValue"></p-radioButton></span>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Color" id="Color" name="Color" #Color1/>
      </div><br><br>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><p-radioButton value="Type" [(ngModel)]="selectedValue"></p-radioButton></span>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Type" id="Type" name="Type" #Type1/>
      </div><br><br>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><p-radioButton value="Price" [(ngModel)]="selectedValue"></p-radioButton></span>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Price" id="Price" name="Price" #Price1/>
      </div><br><br>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><p-radioButton value="Description" [(ngModel)]="selectedValue"></p-radioButton></span>
        <input type="text" pInputText class="p-inputtext-sm" placeholder="Description" id="Description" name="Description" #Description1/>
      </div><br><br>
      <p-button id="retrieveButton" (click)="onQuerySubmit(ItemID1.value, Color1.value, Type1.value, Price1.value, Description1.value)">Submit</p-button><br><br>
      <div *ngIf="rData" class="card">
        <p-table [columns]="cols" [value]="rData" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Create data">
      <label id="colorLabel" for="Color">Color: </label>
      <input type="text" pInputText id="Color" name="Color" #Color2>
      <label id="typeLabel" for="Type">Type: </label>
      <input type="text" pInputText id="Type" name="Type" #Type2>
      <label id="priceLabel" for="Price">Price: </label>
      <input type="text" pInputText id="Price" name="Price" #Price2>
      <label id="descriptionLabel" for="Description">Description: </label>
      <input type="text" pInputText id="Description" name="Description" #Description2><br><br>
      <p-button id="insertButton" (click)="createNewItem(Color2.value, Type2.value, Price2.value, Description2.value)">Create New Item</p-button><br><br>
      <div *ngIf="iData" class="card">
        <p-table [columns]="cols" [value]="iData" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                {{ rowData[col.field] }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-tabPanel>
  </p-tabView>
</body>

</html>